
 
    
   
    
    




  <head>
    <!-- UIkit CSS -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script
        src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit-icons.min.js"></script>
</head>



<div class='container'>
    <div class='window'>
        <div class='overlay'></div>
        <div class='content'>
            <div class='welcome'>Benvenuto!</div>
            
            <div style="width:10%;height:0;padding-bottom:20%;position:relative; top:-100px;"><iframe src="https://giphy.com/embed/jRZXsVd7xbBAIF08eH"  frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
            <div *ngIf="loginError">
                <p id="loginError">{{ loginError }}</p>
              </div>
              <form [formGroup]="loginForm" (ngSubmit)="loginUtente()" class='input-fields'>
                <input type="email" placeholder="mail@mail.com" formControlName="email" class="username-input input-line full-width"> 
                <input type="password" placeholder="inserisci password" formControlName="password" class="password-input input-line full-width"> 
                <button type="submit" class="uk-button uk-button-default" class="btn" class="login-button">Accedi</button>
                <div class='spacing'>non sei ancora registrato?</div>
                <a [routerLink]="'/auth/register'" class='ghost-round full-width'>Crea un account</a>
                
            </form>
            
        </div>
    </div>
</div>




 
  





  
