
    
    
    
    
   
    



  <head>
    <!-- UIkit CSS -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script
        src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit-icons.min.js"></script>
</head>



<div class='container'>
    <div class='window'>
        <div class='overlay'></div>
        <div class='content'>
            <div class='welcome'>Benvenuto!</div>
            
            <div style="width:60%;height:0;padding-bottom:40%;position:relative;"><iframe src="https://giphy.com/embed/jRZXsVd7xbBAIF08eH"  frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>

            <form [formGroup]="registerForm" (ngSubmit)="registrazioneUtente()" class='input-fields'>

                <input type="text" placeholder="Nome" formControlName="nome" class="username-input input-line full-width">
                <input type="text" placeholder="Cognome" formControlName="cognome" class="username-input input-line full-width">
                <input type="email" placeholder="mail@mail.com" formControlName="email" class="username-input input-line full-width">
                <input type="password" placeholder="inserisci password" formControlName="password" class="password-input input-line full-width"> 

                <button type="submit" class="uk-button uk-button-default" class="btn" class="login-button">Registrati</button>
                <div class='spacing' class="posizione2">Sei già Registrato?</div>
                <a [routerLink]="'/auth/login'" class='ghost-round full-width' class="posizione">Passa a Login</a>
                
            </form>
            
        </div>
    </div>
</div>
