<div class="prova">

<div class="backgroundmlml">
<ngb-carousel>
    <ng-template ngbSlide *ngFor="let item of yugioh|async">
    
      <div class="picsum-img-wrapper">
        <img [src]="item.img" alt="Random second slide">
      </div>
    
      <div class="carousel-caption">
        <h3>{{item.brand}}</h3>
        <br>
        
      </div>
      
      <button  [routerLink]="['/personalizza', item.brand]" type="submit" routerLinkActive="active" class="bottoneg">PERSONALIZZA ORA</button>
      
    
    </ng-template>

  </ngb-carousel>
  
</div>