<head>
    <!-- UIkit CSS -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script
        src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit-icons.min.js"></script>
</head>

<h3 class="gifnotfound"> Questa pagina non è stata trovata riprova:</h3>

<!--<div class="gifnotfoundgif "style="width:30%;height:0;padding-bottom:5%;"><iframe src="https://giphy.com/embed/14uQ3cOFteDaU" width="70%" height="50%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>-->
<div class="gifnotfoundgif "style="width:30%;height:0;padding-bottom:5%;"><iframe src="https://giphy.com/embed/K7NHFtsLG4nqU" width="70%" height="50%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>

<button  class="posizionebottone" (click)="click()">TORNA ALLA HOME</button>



