<form [formGroup]="shopForm" (ngSubmit)="confirmChanges()">
    <app-input-text formControlName="title" [label]="'Prodotto'"></app-input-text>
    <app-input-text formControlName="description" [label]="'Colore Prodotto'"></app-input-text>
    
    <div formArrayName="steps">
        <ng-container *ngIf="stepsArray.length > 0">
            <div *ngFor="let step of stepsArray; let i=index" [formGroupName]="i">
                
                <app-input-text formControlName="title" [label]="'Testo personalizzato'"></app-input-text>
                
                <button type="button" (click)="removeStepToForm(i)">Rimuovi Step</button>
                
            </div>
        </ng-container>
        <button (click)="addStepToForm()" type="button">Aggiungi Step</button>
    </div>
    <button (click)="cancel()" type="button">Annulla</button>
    <button type="submit" [disabled]="shopForm.invalid">Conferma</button>
</form>
