<div>
    
    <h4>Prodotto: {{shop?.title}}</h4>
    <h5>Colore: {{shop?.description}}</h5>
   
  
    
    <ng-container *ngIf="shop != null && shop.users && shop.users.length > 0">
        
        <li *ngFor="let user of shop.users">{{user}}</li>
    </ng-container>
    <div>
    <div *ngIf="shop != null && shop.steps != null && shop.steps.length > 0">
        <div *ngFor="let step of shop.steps">
            
            <span>Testo Prodottto: {{step.title}}</span>
        </div>
    </div>
    
    <button (click)="editClick()">Modifica</button>
</div>
</div>



